//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 14 18:35:00 2016
//! **************************************************************************

SCHEMATIC START;
COMP "JC<2>" LOCATE = SITE "K6" LEVEL 1;
COMP "JB<6>" LOCATE = SITE "K3" LEVEL 1;
COMP "JC<3>" LOCATE = SITE "G3" LEVEL 1;
COMP "JB<7>" LOCATE = SITE "K5" LEVEL 1;
COMP "JD<0>" LOCATE = SITE "G11" LEVEL 1;
COMP "JC<4>" LOCATE = SITE "G1" LEVEL 1;
COMP "JD<1>" LOCATE = SITE "F10" LEVEL 1;
COMP "JC<5>" LOCATE = SITE "J7" LEVEL 1;
COMP "JD<2>" LOCATE = SITE "F11" LEVEL 1;
COMP "JC<6>" LOCATE = SITE "J6" LEVEL 1;
COMP "JD<3>" LOCATE = SITE "E11" LEVEL 1;
COMP "JC<7>" LOCATE = SITE "F2" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "JD<4>" LOCATE = SITE "D12" LEVEL 1;
COMP "JD<5>" LOCATE = SITE "C12" LEVEL 1;
COMP "JD<6>" LOCATE = SITE "F12" LEVEL 1;
COMP "JD<7>" LOCATE = SITE "E12" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "JA<0>" LOCATE = SITE "T12" LEVEL 1;
COMP "JA<1>" LOCATE = SITE "V12" LEVEL 1;
COMP "JA<2>" LOCATE = SITE "N10" LEVEL 1;
COMP "JA<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "JA<4>" LOCATE = SITE "M10" LEVEL 1;
COMP "JB<0>" LOCATE = SITE "K2" LEVEL 1;
COMP "JA<5>" LOCATE = SITE "N9" LEVEL 1;
COMP "JB<1>" LOCATE = SITE "K1" LEVEL 1;
COMP "JA<6>" LOCATE = SITE "U11" LEVEL 1;
COMP "JB<2>" LOCATE = SITE "L4" LEVEL 1;
COMP "JA<7>" LOCATE = SITE "V11" LEVEL 1;
COMP "JB<3>" LOCATE = SITE "L3" LEVEL 1;
COMP "JB<4>" LOCATE = SITE "J3" LEVEL 1;
COMP "JC<0>" LOCATE = SITE "H3" LEVEL 1;
COMP "JB<5>" LOCATE = SITE "J1" LEVEL 1;
COMP "JC<1>" LOCATE = SITE "L7" LEVEL 1;
SCHEMATIC END;

